*

!README.md
!LICENSE
!index.js
!browser.js
!src/core/*
!src/bindings/*.h
!src/bindings/*.cc

!vendor/diff-match-patch/diff_match_patch.h
!vendor/diff-match-patch/LICENSE

!vendor/pcre/pcre.gyp
!vendor/pcre/pcre2_chartables.c
!vendor/pcre/include/*.h
!vendor/pcre/10.23/src/*.c
!vendor/pcre/10.23/LICENSE

!vendor/win-iconv/iconv.h
!vendor/win-iconv/win_iconv.c
!vendor/win-iconv/readme.txt

!package.json
!binding.gyp
