sudo: false

git:
  depth: 10

language: node_js

node_js: 6

env:
  - CC=clang CXX=clang++ npm_config_clang=1

script: npm test

notifications:
  email:
    on_success: never
    on_failure: change

addons:
  apt:
    packages:
    - clang-3.3
